@model Guest
@{
    ViewData["Title"] = "Регістрація";
}

<body>
    <div class="container registration-form">
        <h2 class="text-center mb-4">Форма реєстрації гостя</h2>

        <form asp-action="Register">
            <div class="registration-group">
                <label asp-for="Name">Ім'я:</label>
                <input asp-for="Name" type="text" class="form-control" required>
            </div>
            <div class="registration-group">
                <label asp-for="Surname">Прізвище:</label>
                <input asp-for="Surname" type="text" class="form-control" required>
            </div>
            <div class="registration-group">
                <label asp-for="PhoneNumber">Номер телефона:</label>
                <input asp-for="PhoneNumber" type="tel" class="form-control" required>
            </div>
            <input asp-for="RoomId" type="text" placeholder="@Model.RoomId" class="d-none">
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-success btn-block">Зареєструвати</button>
                </div>
                <div class="col">
                    <a href="~/Menu/Rooms" class="btn btn-danger btn-block">Закінчити</a>
                </div>
            </div>
        </form>
    </div>
</body>