@{
    ViewData["Title"] = "Home Page";
}

<body class="background-image">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>Hospitality</h1>
                <p class="maintext">
                    Це програмне забезпечення спеціально розроблено для готельно-ресторанних комплексів та гостьової індустрії.
                    Воно надає комплексні інструменти для ефективного управління бізнесом і включає в себе функції, такі як
                    облік гостьового обігу, управління працівниками, аналітика та звітність, інтеграція з іншими системами,
                    безпека даних та можливість керування з мобільних пристроїв. Це допомагає готельно-ресторанним комплексам
                    підвищити ефективність своєї роботи, поліпшити обслуговування клієнтів та досягти стратегічних цілей.
                </p>
                <a href="/Identity/Account/Login" class="rounded-pill">Увійти</a>
            </div>
        </div>
    </div>
</body>